body{
    overflow-x: hidden;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}
header{
    max-width: 100%;
    display: block;
}
.menu{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left:3vw;
    top: 4vw;
}
.menu-item{
    color: #006a84;
    text-decoration: none;
    font-size: 1vw;
    margin-right: 5vw;
}
.logo{
    position: absolute;
    left: 45vw;
    top: 2vw;
}
.menu2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right:3vw;
    top: 2vw;
}
.menu-item0{
    color: #6f6656;
    text-decoration: none;
    font-size: 1vw;
    margin-right: 4vw;
}
.menu-item2{
    color: #006a84;
    text-decoration: none;
    font-size: 1vw;
    margin-right: 5vw;
}
.about0{
    color: rgb(42, 11, 70);
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 3vw;
    top: 10vw;
    font-size: 1vw;
    text-align: left;
}
.dalee{
    color: rgb(42, 11, 70);
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 3vw;
    top: 20vw;
    text-align: left;
}
.u{
    position: absolute;    
    left: 55vw;
    top: 10vw;
}

.c{
    position: absolute;
    top: 75vw;

}
.logo3{
    position: absolute;
    left: 9vw;
    bottom: 14vw;
}
.sale{
    position: absolute;
    top: 83vw;
    left: 3vw;
}